:root {
    --bg-primary: #0f172a;
    --bg-secondary: #1e293b;
  
    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
  
    --primary: #6366f1;
    --danger: #ef4444;
  
    --border-color: rgba(255,255,255,.08);
  }